In [14]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [16]:
df = pd.read_csv("Iris.csv")
classes = df["Species"]
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [17]:
df2 = df.iloc[ :, 1:-1]
df2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [10]:
df2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [18]:
data = df2.values.tolist() 
data = np.array(data)
## Shuffle classes and data 
data,classes = shuffle(data,classes) 
## First 135 points are used for training and the rest is used for testing
train_data = data[:135]  
test_data = data[135:]

In [31]:
c1 = train_data[0]
c2 = train_data[1]
c3 = train_data[2]

def getDistance(center, point):
    dist = (center[0] - point[0])**2 + (center[1] - point[1])**2 + (center[2] - point[2])**2 + (center[3] - point[3])**2
    return dist

def getNewCentroid(old_centroid, cluster):
    if(len(cluster) == 0):
        return old_centroid
    cluster = np.array(cluster)
    sm1 = sum(cluster[:, 0])
    sm2 = sum(cluster[:, 1])
    sm3 = sum(cluster[:, 2])
    sm4 = sum(cluster[:, 3])
    length = len(cluster)
    newCentroid = [sm1/length, sm2/length, sm3/length, sm4/length]
#     print(newCentroid)
    return newCentroid

itr = 1
while(itr <= 100):
    cluster1 = []
    cluster2 = []
    cluster3 = []
    for i in range(len(train_data)):
        dist1 = getDistance(c1, train_data[i])
        dist2 = getDistance(c2, train_data[i])
        dist3 = getDistance(c3, train_data[i])
        mnD = min(dist1, dist2, dist3)
        if(mnD == dist1):
            cluster1.append(train_data[i])
        elif(mnD == dist2):
            cluster2.append(train_data[i])
        else:
            cluster3.append(train_data[i])
    prev_c1 = c1
    prev_c2 = c2
    prev_c3 = c3
    c1 = getNewCentroid(c1, cluster1)
    c2 = getNewCentroid(c2, cluster2)
    c3 = getNewCentroid(c3, cluster3)
    itr += 1
print(itr)
print("Final Centroid", c1, c2, c3)

101
Final Centroid [5.86607142857143, 2.728571428571429, 4.366071428571428, 1.4285714285714284] [6.878787878787879, 3.0787878787878786, 5.715151515151513, 2.0606060606060606] [5.004347826086956, 3.436956521739131, 1.4630434782608692, 0.24565217391304334]

In [32]:
pred = []
for i in range(len(test_data)):
    dist1 = getDistance(c1, train_data[i])
    dist2 = getDistance(c2, train_data[i])
    dist3 = getDistance(c3, train_data[i])
    mnD = min(dist1, dist2, dist3)
    if(mnD == dist1):
        pred.append(1)
    elif(mnD == dist2):
        pred.append(2)
    else:
        pred.append(3)
print(pred)

[1, 1, 1, 3, 1, 3, 3, 3, 2, 3, 1, 3, 2, 1, 1]